@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url('/Ogg-Font/Ogg-Font/OggBold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  /* color: rgb(50, 50, 50); */
  color: rgb(231, 250, 236);
  font-style: normal;
  font-stretch: normal;
  overflow-x: hidden;
  /* background: rgb(240, 241, 242); */
  background-color: #222222;

  /* padding: 54px 0; */
  /* width: 95%; */
  /* max-width: 1600px; */
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.w95 {
  width: 95%;
  margin: auto;
}
.overflow_hidden {
  overflow: hidden;
}

.mobile_tab {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .mobile_tab {
    display: block;
    margin-top: 3em;
  }
}

.right {
  transform: translateX(120%);
  /* right: 0; */
  transition: transform 300ms ease-out;
}

.nav_sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #222222;
}

.left {
  /* right: 100%; */
  transform: translateX(0);
  transition: transform 300ms ease-out;
}

.dimmed {
  opacity: 0.5;
}

.mb-1 {
  margin-bottom: 0.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display SC', serif;
}

/* DEFAULTS */

ul {
  list-style-type: none;
  padding: 0px;
}
.link {
  text-decoration: none;
  color: #dbdada;
}

.project_link {
  color: #dbdada;
}

.slimmer {
  padding: 2em 0px;
}

.muted {
  /* color: rgb(89, 89, 89); */
  color: rgb(231, 250, 236);
}
.no-border {
  border-top: none;
}

.center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.column-25 {
  grid-template-columns: 25vw 1fr;
}

.grid {
  display: grid;
}

.grow {
  flex-grow: 1;
}

.about_skills_container {
  padding: 2em 0.5rem !important;
}
/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }

  .projectlist_container {
    padding: 0px !important;
  }
}
