@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  color: rgb(50, 50, 50);
  font-style: normal;
  font-stretch: normal;
  overflow-x: hidden;
  background: rgb(240, 241, 242);
  /* padding: 54px 0; */
  width: 95%;
  /* max-width: 1600px; */
  margin: auto;
  scroll-behavior: smooth;
}

.mobile_tab {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .mobile_tab {
    display: block;
  }
}

.right {
  transform: translateX(110%);
  /* right: 0; */
  transition: transform 300ms ease-out;
}

.left {
  /* right: 100%; */
  transform: translateX(0);
  transition: transform 300ms ease-out;
}

.dimmed {
  opacity: 0.5;
}

.mb-1 {
  margin-bottom: 0.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display SC', serif;
}

/* DEFAULTS */

ul {
  list-style-type: none;
  padding: 0px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.slimmer {
  padding: 2em 0px;
}

.muted {
  color: rgb(89, 89, 89);
}
.no-border {
  border-top: none;
}

.center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.column-25 {
  grid-template-columns: 25vw 1fr;
}

.grid {
  display: grid;
}

.grow {
  flex-grow: 1;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
}
